.container {
  /* style self */
  flex: 1;
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  /* style self */
  width: 500px;
  height: 600px;
  background-color: var(--color-background-front-layer);
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  /* style self */
  font-family: Russo-One;
  font-size: 50px;
  color: var(--color-theme);
  margin-top: 46px;
}

.input_one_line {
  /* style self */
  margin-top: 32px;
}

.button {
  /* style self */
  margin-bottom: 44px;
}

.spacer {
  /* style self */
  flex: 1;
}

.panel_footer_container {
  /* style self */
  height: 118px;
  align-self: stretch;
  background-color: var(--color-light-gray);
  /* style children */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link_to_signup {
  /* style self */
  color: var(--color-theme);
  margin-left: 26px;
  cursor: pointer;
}
