.container {
  /* style self */
  flex: 1;
  background-color: var(--color-background-back-layer);
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.panel {
  /* style self */
  align-self: stretch;
  margin: 56px 120px;
  background-color: var(--color-background-front-layer);
  padding: 20px 30px;
  /* style children */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.avatar {
  /* style self */
  top: -56px;
}

.avatar_container {
  /* style self */
  position: relative;
}

.avatar_container_editable {
  /* style self */
  cursor: pointer;
}

.avatar_image {
  /* style self */
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.avatar_overlay_container {
  /* style self */
  position: absolute;
  background: var(--color-overlay);
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar_icon {
  /* style self */
  width: 100px;
  height: 80px;
}

.avatar_label {
  /* style self */
  color: var(--color-text-white);
  margin-top: 50px;
}

.info_container {
  /* style self */
  margin-left: 30px;
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.description {
  /* style self */
  margin-top: 50px;
}

.name_container {
  /* style children */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.name_container_editing {
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.name_text {
  /* style self */
  font-family: Roboto-Medium;
  font-size: 50px;
}

.name_text_na {
  /* style self */
  font-family: Roboto-Medium;
  font-size: 50px;
  color: var(--color-gray);
}

.description_container {
  /* style children */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.description_container_editing {
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.description_label {
  /* style self */
  font-family: Roboto-Medium;
  width: 200px;
  flex-shrink: 0;
}

.description_text {
  /* style self */
  margin-left: 75px;
  text-align: left;
}

.description_text_na {
  /* style self */
  margin-left: 75px;
  color: var(--color-gray);
}

.edit_button {
  /* style self */
  margin-left: 30px;
}

.edit_button_container {
  /* style self */
  margin-left: 30px;
  cursor: pointer;
  /* style children */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.edit_button_container_hidden {
  /* style self */
  visibility: hidden;
}

.edit_button_text {
  /* style self */
  color: var(--color-theme);
  margin-left: 15px;
}

.edit_button_icon {
  /* style self */
  width: 25px;
  height: 25px;
}

.editor_container {
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.editor_button_container {
  /* style children */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.editor_input {
  /* style self */
  width: 386px;
}

.editor_button_save {
  /* style self */
  width: 193px;
}

.editor_button_cancel {
  /* style self */
  width: 193px;
  margin-left: 30px;
}

.logout_button {
  /* style self */
  margin-top: 50px;
}

.logout_button_container {
  /* style self */
  cursor: pointer;
  /* style children */
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-items: center;
}

.logout_button_icon {
  /* style self */
  width: 25px;
  height: 25px;
}

.logout_button_label {
  /* style self */
  color: var(--color-theme);
  margin-left: 15px;
}
