.container {
  /* style self */
  height: 100vh;
  background-color: var(--color-background-back-layer);
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.scrollable {
  /* style self */
  flex: 1;
  overflow: scroll;
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.panel_question {
  /* style self */
  width: 900px;
  background-color: var(--color-background-front-layer);
  margin-top: 20px;
  padding: 20px 30px;
  box-sizing: border-box;
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.panel_answers {
  /* style self */
  width: 900px;
  background-color: var(--color-background-front-layer);
  margin-top: 20px;
  padding: 0px 30px;
  box-sizing: border-box;
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.title {
  /* style self */
  font-family: Roboto-Medium;
  cursor: pointer;
}

.content {
  /* style self */
  margin-top: 8px;
}

.answer_card_container {
  /* style self */
  margin: 20px 0px;
}

.answer_card_content {
  /* style self */
  margin-top: 8px;
}

.answer_card_like {
  /* style self */
  margin-top: 8px;
}
