.container {
  /* style self */
  height: 100vh;
  background-color: var(--color-background-back-layer);
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.scrollable {
  /* style self */
  flex: 1;
  overflow: scroll;
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.panel {
  /* style self */
  width: 900px;
  background-color: var(--color-background-front-layer);
  margin-top: 20px;
  padding: 0px 30px;
  box-sizing: border-box;
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.question_card_container {
  /* style self */
  margin: 20px 0px;
}

.question_card_title {
  /* style self */
  font-family: Roboto-Medium;
  cursor: pointer;
}

.question_card_content {
  /* style self */
  margin-top: 8px;
}

.question_card_like {
  /* style self */
  margin-top: 8px;
}

.create_button {
  /* style self */
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.create_popup_container {
  margin: 36px 100px;
  /* style children */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.create_popup_content {
  /* style self */
  margin-top: 35px;
}

.create_popup_button {
  /* style self */
  align-self: flex-end;
  margin-top: 35px;
}
