.container {
  /* style self */
  height: 80px;
  background-color: var(--color-background-front-layer);
  box-shadow: 0px 1px 5px 0px var(--color-shadow);
  align-self: stretch;
  /* style children */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* style self */
  font-size: 35px;
  color: var(--color-theme);
  font-family: Russo-One;
  margin-left: 20px;
  cursor: pointer;
}

.avatar {
  /* style self */
  margin-right: 20px;
}
