:root {
  /* color constants */
  --color-theme: #ED5736;
  --color-background-front-layer: #FFFFFF;
  --color-background-back-layer: #F0F0F4;
  --color-gray: #BBCDC5;
  --color-error: #FF2121;
  --color-text: #424C50;

  /* text size constants */
  --text-size-normal: 25px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  /* style self */
  margin: 0px;
  font-family: Roboto-Regular;
  font-size: var(--text-size-normal);
  color: var(--color-text);
}

input {
  /* style self */
  outline: none;
  border: none;
  font-size: var(--text-size-normal);
  padding: 0px;
  color: var(--color-text);
}
::placeholder {
  /* style self */
  color: var(--color-gray);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line {
  box-shadow: 0 0 0px 1000px var(--color-background-front-layer) inset;
  -webkit-text-fill-color: var(--color-text);
  font-size: var(--text-size-normal);
}

@font-face {
  font-family: 'Russo-One';
  src: url('./assets/fonts/Russo_One/RussoOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
